@import "src/styles";

.About {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 3rem;

  @include breakpoint("small") {
    gap: 2rem;
  }
}

.About__Banner {
  @include breakpoint("medium") {
    height: 20rem !important;
  }

  @include breakpoint("small") {
    height: 12rem !important;
    padding: 0 3rem;
  }
}

.About_content {
  display: flex;
  max-width: 1240px - 200px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

    @include breakpoint("small") {
        gap: 2rem;
    }
}
