@import "src/styles";

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 16rem;

  @include breakpoint("small") {
    height: 12rem;
  }
}

.Header_Logo {
  width: 21rem;

  @include breakpoint("small") {
    width: 17rem;
  }
}
