@import "src/styles";

.Housing {
  width: 100%;
}

.Housing__Content {
  width: 100%;
  height: 100%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;

  @include breakpoint("medium") {
    flex-direction: column;
    gap: 2rem;
  }
}

.Housing__Content_wrapperA {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}

.Housing__Content_wrapperB {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-end;

  @include breakpoint("medium") {
    flex-direction: row-reverse;
    align-items: center;
  }
}

.Housing__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.5rem;

  @include breakpoint("medium") {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.Housing__title {
  font-size: 3.6rem;
  color: #FF6060;
  font-weight: 500;
  line-height: 1;

  @include breakpoint("medium") {
    font-size: 2.7rem;
  }
}

.Housing__location {
  font-size: 1.8rem;
  font-weight: 400;
}

.Housing__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 10px;
}

.Housing__tags_item {
  @include breakpoint("medium") {
    font-size: 1rem;
  }
}

.Housing__host {
  text-align: right;
}

.Housing__rating {
  text-align: right;
}
